.container {
  width: 1280px;
  margin: 0 auto;
  font-family: "Gilam", sans-serif;
}
.header {
  padding-top: 63px;
}
.logo {
  color: #4bcaff;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}
.accent-color {
  color: #000000;
}
.top-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background: #35444f;
  padding-left: 0;
  margin-bottom: 49px;
  margin-top: 40px;
}
.top-menu-item {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 24px;
  padding-bottom: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  border: 1px solid #ffffff;
  transition: 0.4s;
}
.top-menu-item:hover {
  background: #222f3a;
  transition: 0.4s;
}
.top-menu-link {
  color: #ffffff;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.section-content {
  width: 885px;
  margin-left: 52px;
}
.div-goat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 73px;
  border: 1px solid #000000;
}
.img-goat {
  transition: 1.2s;
}
.img-goat:hover {
  transform: rotate(5deg) scale(1.1);
  transition: 1.2s;
  filter: blur(1px);
}
.left-menu {
  display: flex;
  flex-direction: column;
  width: 344px;
  list-style-type: none;
  border: 1px solid #000000;
  margin-top: 0;
  padding-left: 0;
}
.left-menu-item {
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  padding-top: 26px;
  padding-bottom: 26px;
  transition: 0.8s;
  padding-left: 44px;
}
.left-menu-item:hover {
  background: #dbdbdb;
  padding-left: 80px;
  color: #35444f;
  transition: 0.8s;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
}
.bottom-menu {
  display: flex;
  justify-content: space-between;
  width: 875px;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  list-style-type: none;
}
.bottom-menu-link {
  color: #0c1927;
  transition: 0.4s;
}
.bottom-menu-link:hover {
  border-bottom: 1px solid #3181a6;
  color: #3181a6;
  transition: 0.4s;
}
.copyright {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  padding-right: 40px;
}
